.App{
    text-align: center;
    width: 100%;
    font-size: 69px;

} 
.NavIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.imgFix{
    height: 40px;
    width: auto;
}
.fontSiz{
    font-size: 14px;
    font-weight: 600;
}

/* input{
    outline: auto;
}
textarea{
    outline: auto;
} */
