.App{
    text-align: center;
    width: 100%;
    font-size: 69px;

} 
.NavIcon{
    display: flex;
    justify-content:left;
    align-items: center;
    flex-direction: row;

}
.imgFix{
    height: 20px;
    margin-right: 20px;
    width: auto;
}
.fontSiz{
    font-size: 16px;
    font-weight: 400;
}

/* input{
    outline: auto;
}
textarea{
    outline: auto;
} */
