.dash {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
 
}
.dashNav {
  width: 90px;
  /* border-right: #acacac 1px solid; */
  border-right: rgba(149, 157, 165, 0.2) 0.5px solid;
  height: 250vh;
  background: rgb(2, 0, 36);
  background-color: #fff;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #272624;
  position: fixed;
  margin-top: 3.5rem;
}

.dashboardItems {
  padding: 1rem;
  border: none;
  border-radius: 15px 0 0 15px;
  /* margin: 1rem 0 1rem 0rem; */
  padding-left: 1rem;
  font-size: 20px;
  cursor: pointer;
}
.activeDash {
  /* background: rgb(2, 0, 36); */
  /* background: linear-gradient(
    245deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(31, 31, 144, 0.7) 0%,
    rgba(25, 144, 171, 0.7) 48%,
    rgba(31, 104, 122, 0.7) 100%,
    rgba(0, 212, 255, 1) 100%
  ); */
  color: #cf3b38;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.courseCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1300px;
  align-items: left;
  padding-left: 80px;
}
.card {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  color: #272624;
  margin: 1rem;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.courseNaamm {
  font-size: 18px;
  font-weight: 500;
  margin-top: 2rem;
}
.viewCourseBtn {
  padding: 0.5rem 1rem;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #272624;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
  border: #272624 2px solid;
  border-radius: 2px;
}
.head {
  font-size: 30px;
  font-weight: 700;
  color: #272624;
}
.heading {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}
.subtitle {
  color: #cf3b38;
  font-size: 18px;
}
.cate {
  color: #cf3b38;
}
.dasss {
  color: #272624;
  font-size: 30px;
  display: flex;
  width: 100%;
  margin-left: 3rem;
}
.uploadButn {
  background-color: #272624;
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  top: 6rem;
 position: absolute;
}
.uploadButn:hover {
  background-color: #cf3b38;
}
.bt {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.folderForm {
  margin-top: 3rem;
  margin-left: 2rem;
}
/* label {
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
} */
/* input {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  outline: #acacac 2px solid;
  font-size: 16px;
  min-width: 400px;
  border: none;
  border-radius: 5px;
}
input:focus {
  outline: #272624 2px solid;
} */
.desInput {
  margin-top: 1rem;
  padding: 0.5rem 0.8rem;
  outline: #acacac 2px solid;
  border: none;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.desInput:focus {
  outline: #272624 2px solid;
}
.toptool {
  background-color: #cf3b38;
}
.creatbtn {
  background-color: #272624;
  color: #fff;
}
.creatbtn:hover {
  background-color: #272624;
}
.cateInput {
  outline: #acacac 2px solid;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem 0.8rem;
  font-size: 16px;
}
.cateInput:focus {
  outline: #272624 2px solid;
}


.marginOnDash{
    margin-top: 5.2rem;
    margin-left: 101px;
}
/* .dashBoardInsideNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
} */

.activeDashItemInside{
 color:#cf3b38;
}
.dashInsideNavWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
    background-color: #eeebeb;
    font-size: 16px;
    font-weight: 600;
    padding: 1rem 0;
    cursor: pointer;
    
}
table{
    width: 100%;
}
.cateVeiw{
  
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

}
.viewbtn{
   background-color: #06f;
   color: #fff;
   padding:0.3rem 0.5rem;
   border: none;
   border-radius: 5px;

}
.viewbtn:hover{
    background-color: rgb(12, 79, 179);
}

.cateItems{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;

}
.cateList
{
    font-size: 24px;
    font-weight:bold;
    /* text-align: center; */
    width: 100%;
    
}
.courseSecs{
    margin-left: 100px;
}
.cateCard{
    width:280px;
    height: 150px;
    display:flex;
    justify-content: space-evenly;
    padding: 0.5rem 1rem ;
    align-items: center;
    /* border:#272624 2px solid; */
    border-radius: 5px;
    flex-direction: column;
    margin: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.cret{
    font-weight: 700;
    font-size: x-large;
    /* color:#000; */

}
.formCreate label{
   font-size: 14px;
   font-weight: 500;
   color: #000;
   
}
.formCreate input,textarea,select{
    margin-bottom: 0.8rem;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 3px;
    width: 90%;
    font-size: 14px;
    padding: 0.3rem 0.5rem;
}

.formCreate button{
    font-size: 14px;
    background-color: #06f;
    padding: 0.3rem 0.5rem;
    border:none;
    border-radius: 3px;
    color:#fff;
    margin-top: 0.5rem;

}
.formCreate button:hover{
    background-color: rgb(6, 68, 160);
    
}