.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
/* input:focus{
  outline: #272624 2px solid;
} */
.loginBox {
  width: 100%;
  max-width: 1100px;
  height: fit-content;
  min-height: 600px;
  max-height: 700px;
  /* border: #acacac 1px solid; */
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.loginRightBox {
  width: 50%;
  /* border: red 1px solid; */
}

.role {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem auto;
  padding-bottom: 1rem;
  border-bottom: #acacac 1px solid;
}
.LoginRole {
  color: #000;
  cursor: pointer;
}
.active {
  background-color: #272624;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

.loginSection {
  margin: 1rem;
}
.LoginForm {
  padding-top: 2rem;
  font-size: 18px;
  font-weight: 500;
  padding: auto 2rem;
  max-width: 90%;
}
.LoginForm input {
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: #acacac 2px solid;
  border-radius: 3px;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.LoginMail {
  margin-top: 2rem;
}
.LoginPass {
  margin-top: 2rem;
}
.LoginBtn {
  font-size: 17px;
  color: #fff;
  background-color: #cf3b38;
  font-weight: 400;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  border: #272624 1px solid;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.LoginBtn:hover {
  /* background-color: #0033ff; */
  border: #272624 2px solid;
  background-color: #272624;
}
.Divider {
  width: 100%;
  align-items: center;
  height: 5px;
  border-bottom: #acacac 2px solid;
  margin-top: 3rem;
}
.loginLeftBox {
  width: 50%;
  overflow: hidden;
  height: fit-content;
  border-radius: 5px;
}
.logimage {
  width: 600px;
  height: 100%;
}
.newUser {
  font-size: 18px;
  margin-left: 1rem;
  margin-top: 1rem;
}
.newUserSignUp {
  color: #cf3b38;
  text-decoration: none;
  font-weight: 600;
}
.newUserSignUp:hover {
  color: red;
}
.SocailLoginWrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 200px;
  align-items: center;
  width: 100%;
}
