.navbar {
  display: flex;
  justify-content: space-between;
  padding: auto 3rem;
  font-size: 22px;
  /* background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
  /* border-radius: 10px; */
  border: 1px solid #acacac;
  background-color: #fff;
  
}
ul {
  list-style: none;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  
}
.itemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.RouterLink1 {
  color: #cf3b38;
  text-decoration: none;
}
.RouterLink {
  color: #000;
  text-decoration: none;
}
.RouterLink:hover{
  color: #cf3b38;
}

.items {
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 500;
  margin: auto 2rem;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.btnRegi {
  font-size: 20px;
  padding: 0.5rem 2rem;
  margin-right: 3rem;
  background-color: #cf3b38;
  color: #fff;
  border-radius: 7px;
  border: #cf3b38 2px solid;
  cursor: pointer;
  letter-spacing: 1.5px;
}
.btnRegi:hover {
  background-color: #272624;
  border: #272624 2px solid;
}
.btnLogin{
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  
  
  cursor: pointer;
  letter-spacing: 1.5px;
}
.btnLogin:hover{
  color: #cf3b38;
}
.userName{
    color: #cf3b38;
    font-size: 18px;
    font-weight: 600;
}
.profi{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.avat{
    border: #272624 2px solid;
    border-radius: 50%;
    margin-right: 5px;
}