.navbar {
  display: flex;
  justify-content: space-between;
  /* padding:  0.3rem 1rem; */
  font-size: 22px;
  background-color: #ffffff;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  color: #010101;
  align-items: center;
  border-bottom: rgba(149, 157, 165, 0.2) 0.5px solid;
}
ul {
  list-style: none;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}
.itemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.RouterLink1 {
  color: #010101;
  text-decoration: none;
}
.RouterLink {
  color: #010101;
  text-decoration: none;
}
.RouterLink:hover {
  color: #010101;
}

.items {
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 400;
  margin: auto 2rem;
  cursor: pointer;
  color: #010101;
  text-decoration: none;
}
.btnRegi {
  font-size: 16px;
  padding: 0.5rem 2rem;
  margin-right: 3rem;
  background-color: #010101;
  color: #010101;
  border-radius: 7px;
  border: #010101 2px solid;
  cursor: pointer;
  letter-spacing: 1.5px;
}
.btnRegi:hover {
  background-color: #272624;
  border: #272624 2px solid;
}
.btnLogin {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #010101;
  cursor: pointer;
  letter-spacing: 1.5px;
}
.btnLogin:hover {
  color: #010101;
}
.userName {
  /* color: #010101; */
  font-size: 16px;
  font-weight: 500;
}
.userName:hover a:hover{
    color: #010101;
}
.profi {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.avat {
  border: #272624 2px solid;
  border-radius: 50%;
  margin-right: 5px;
}
.boxProfi{
    width: 30px;
    height: 30px;
    background-color: #010101;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.firstLetter{
    font-size: 16px;
    font-weight: 500;
    color:#fff;
}