.uplo {
  background-color: #272624;
  color: #fff;
  font-size: 16px;
  padding: 0.3rem 0.5rem;
  outline: none;
  border: none;
  border-radius: 3px;
  margin-top: 1rem;
  margin-right: 2rem;
  top:6rem;
  position: absolute;
}
.uplo:hover {
  background-color: #cf3b38;
}

.lef {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.upl {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
}
.upl:hover {
  color: #cf3b38;
}

.cancelbtn {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #272624;
  padding: 0.5rem 0.8rem;
  margin-top: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.bnn {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fl {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
